{{> Aside}}
<div class="col-12 col-sm-9 text-center px-3 p-sm-5">

    <small class="mb-2">Banco Digital de Chile</small>
    <h4 class=>Modificar datos personales</h4>
    <hr class="w-75 m-auto mb-2">
    <form action="/users/update?token={{token}}" method="POST" class="w-75 m-auto">
        <div class="input-group mb-3">
            <span class="input-group-text d-flex justify-content-center" id="inputGroup-sizing-default"><i
                    class="fas fa-user-circle"></i></span>
            <input type="text" class="form-control" placeholder="Ingrese su nombre" aria-label="Username"
                value="{{ user.first_name }}" name="first_name" id="first_name" />
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text d-flex justify-content-center" id="inputGroup-sizing-default"><i
                    class="fas fa-user-circle"></i></span>
            <input type="text" class="form-control" placeholder="Ingrese su apellido" aria-label="Username"
                value="{{ user.last_name }}" name="last_name" id="last_name" />
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text d-flex justify-content-center" id="inputGroup-sizing-default"><i
                    class="fas fa-envelope"></i></span>
            <input type="text" class="form-control" placeholder="Ingrese su correo" aria-label="Username"
                value="{{ user.email }}" name="email" id="email" />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text d-flex justify-content-center" id="inputGroup-sizing-default"><i
                    class="fas fa-id-card"></i></span>
            <input type="text" class="form-control" placeholder="Ingrese su RUT" aria-label="Username"
                value="{{ user.rut }}" name="rut" id="rut" />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text d-flex justify-content-center" id="inputGroup-sizing-default">
                <i class="fas fa-map-marker-alt"></i>

            </span>
            <input type="text" class="form-control" placeholder="Ingrese su dirección" aria-label="Username"
                value="{{ user.address }}" name="address" id="address" />
        </div>

        <button type="submit" class="btn btn-dark">Modificar</button>
    </form>

</div>
<script>
    const form = document.querySelector('form')
    form && form.addEventListener('submit', updateProfileHandler)

    async function updateProfileHandler(e) {
        e.preventDefault()

        const payload = Object.fromEntries(new FormData(e.target))

        try {
            const response = await fetch(e.target.action, {
                method: e.target.method,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
            const user = await response.json()
            window.location.href = window.location.origin + window.location.pathname + '?token=' + user.token

        } catch (e) {
            console.log(e)
        }
    }
</script>
